<%- await include('views/header.ejs', { title: 'Home' }) %>
<%- await include('views/head.ejs') %>

<h1 style="margin-left: 8%;">Produkte</h1>
<div class="container-fluid">
  <div class="col-md-12">
    <div class="row">
      <% products.forEach(product => { %>
      <div class="card" style="width: 350px; border: none; text-align: center;">
        <div class="card-body">
          <a href="/product/<%= product.id %>" style="color: black;">

            <img style="height: 200px; width: 200px; background-color: rgba(238, 238, 238, 0.836);" src="/img/<%= product.imageName %>">
            <p><%= product.productName %></p>
          </a>
          <p>CHF <%= product.specialOffer.toFixed(2) %> <del>CHF <%= product.normalPrice.toFixed(2) %></del></p>
        </div>
      </div>
      <% });%>
    </div>
  </div>
</div>

</div>

<%- await include('views/footer.ejs') %>